#custom-spinner {
    display: block;
    margin: auto; /* Center the SVG */
    animation: spin 6s linear infinite; /* Apply the animation */
    height: 180px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
